*{
    margin: 0px;
    padding: 0px;
}
:root {
    --navbar-height: 59px;
  }

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #f3f4f8;
    counter-reset: section;
  }
#navbar{
    display: flex;
    background-color: rgb(216, 210, 210);
}

.logo{
    display: flex;
    height: 90px;
    width: 100px;
}
.nav{
    display: flex;
    
}
.home{
    display: flex;

}
.item{
    margin-left: 36px;
    text-decoration: none;
}
.heading{
    display: flex;
    margin: 36px;
    padding: 0px;
    color: black;
}